body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 350px 0px 350px;
    text-align: center;
  }
  
  li {
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }
  
  a {
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    background-color: #fcd600;
  }
  
  footer {
    background-color: #9b9999;
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }
  
  /* Media queries for mobile responsiveness */
  @media only screen and (max-width: 600px) {
    ul {
      margin: 10px;
    }
  
    li {
      margin-bottom: 8px;
    }
  
    a {
      padding: 8px;
    }
  }
  