body {
  font-family: 'Skranji';
  font-size: 13px;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: "";
  background: url('image/worldmap.jpeg') center/cover no-repeat;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
img.github-logo {
  position: absolute;
  top: 10px;
  right: 40px;
  opacity: 1;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 17px 440px 0px 440px;
  text-align: center;
}

li {
  margin-bottom: 10px;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 10px;
}

li:hover {
  background-color: #f0f0f0;
}

a.list-link {
  display: block;
  border: 1px solid #fefefe;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: #191818c1;
  box-sizing: border-box;
}

a.list-link:hover {
  background-color: #fcd600;
}

footer {
  font-size: 17px;
  text-align: center;
  margin-top: auto;
}

/* Media queries for mobile responsiveness */
@media only screen and (max-width: 600px) {
  ul {
    margin: 10px;
  }

  li {
    margin-bottom: 8px;
  }

  a.list-link {
    padding: 8px;
  }

  img.github-logo {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    height: auto;
    opacity: 1;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
  }
}



  